@page "/sandwichlist"
@using Bocatasion.Backoffice.Interfaces
@using Bocatasion.Backoffice.Models.Food

@inject IFoodService foodService
@inject NavigationManager NavManager

<h1>Sandwich menu</h1>

<p>Where bocatas belong</p>

@if (sandwiches == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table table-hover">

        <thead>
            <tr>
                <th>Image</th>
                <th>Name</th>
                <th>Description</th>
                <th>Price</th>
                <th>Available</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var sandwich in sandwiches)
            {
                <tr>
                    <td>
                        <img src="@sandwich.ImageUrl"
                             alt="@sandwich.Description"
                             width="80" />
                    </td>
                    <td class="align-middle">
                        @sandwich.Name
                    </td>
                    <td class="align-middle">
                        @sandwich.Description
                    </td>
                    <td class="align-middle text-center">
                        @sandwich.Price 💰
                    </td>
                    <td class="align-middle text-center">
                        @if (@sandwich.Disabled)
                        {
                            <span class="oi oi-circle-x mr-2" aria-hidden="true"></span>
                        }
                        else
                        {
                            <span class="oi oi-circle-check mr-2" aria-hidden="true"></span>
                        }
                    </td>
                    <td>
                        <button type="button" class="btn btn-warning" @onclick="(() => EditSandwich(sandwich.Id))" >Edit</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>


}

@code {

    List<SandwichModel> sandwiches;

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        sandwiches = await foodService.GetAllSandwiches();
    }

    private void EditSandwich(int id)
    {
        NavManager.NavigateTo($"sandwichedit/{id}");
    }
}
